<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h3>This is Signup</h3>

    <form action="" method="post">
            {% csrf_token %}
            <label for="username">Enter username</label>
            <input type="text" id="username" name="username" value="abc"><br>
            <label for="email">Enter email</label>
            <input type="email" name="email" value="abc@email.in"><br>
            <label for="firstname">Enter firstname</label>
            <input type="text" id="firstname" name="firstname" value="abc"><br>
            <label for="lastname">Enter lastname</label>
            <input type="text" id="lastname" name="lastname" value="abc"><br>
            <label for="pass1">Enter password</label>
            <input type="password" id="pass1" name="pass1"><br>
            <label for="pass2">Re-Enter password</label>
            <input type="password" id="pass2" name="pass2"><br>
            <button type="submit">Submit</button>
    </form>
</body>
</html>